body
    {
        font-family: Sans-Serif ;
        color: rgb(59, 59, 59) ;
        margin-top:10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
        background: lightblue url("IMG_20181014_140958.jpg") no-repeat fixed center;
    }

#container 
    {
        width: 60%;
        text-align: center;
        margin: auto;
    }

#table
    {      
        list-style-type: none;
        text-align: center;
        border: 20px solid lightcyan;
        border-radius: 25px;
        background-color: lightcyan;
    }
#content
    {
        width: 60%;
        margin: auto;
        text-align: center;
        border: 20px solid lightcyan;
        border-radius: 25px;
        background-color: lightcyan;
    }
a:hover
    {
        color: red;
        background-color: bisque;

    }
header
    {
        margin-top: 20px;
        background-color: blanchedalmond;
    }
img 
    {
        width : 100%;
        height: auto;
    }

h1 
    {
        font-size : 300%;    
    }

h1,h2 
    {
        text-transform: uppercase;
        color : rgb(122, 179, 198);
        font-weight: 100;
        border: 20px solid navy;
        border-radius: 25px;
        background-color: navy;
    }
footer 
    {
        text-align: center;
        margin-top: 70px ;
        color: rgb(87, 86, 86) ;
        border: 20px solid rgb(146, 220, 245);
        border-radius: 25px;
        background-color: rgb(146, 220, 245);
    }

footer p 
    {
        text-align: center;
        padding-top: 15px ;
        padding-bottom: 15px ;
    }

@media screen and (max-width: 768px)
{
    #container 
    {
        width: 90%;
        margin: auto;
    }

    h1 
    {
        font-size: 200%
    }
}
