body
    {
        font-family: Sans-Serif ;
        color: rgb(59, 59, 59) ;
        margin-top:10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
    }
#p1
{
    color:red;
}
#list
{
    color:rgb(5, 205, 205);
}

#news
{
    float : left;
    margin: 0 15px 0 0;
}
.flex-container
{
    height: 400px;
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap : wrap;
    justify-content: space-evenly;
    list-style: none;
}

.content
{
    margin: auto;
    width: 500px;
    height: 300px;
    
}




@media screen and (max-width: 768px)
{
    #container 
    {
        width: 90%;
        margin: auto;
    }

    h1 
    {
        font-size: 200%
    }
}
